* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url(./images/bg.jpg);
    font-family: Tahoma, sans-serif;
}

.wrapper {
    width: 967px;
    margin-right: auto;
    margin-left: auto;
    outline: 1px solid red;
    padding-top: 16px;
}

.header {
    height: 88px;
    background-color: #e9e9e9;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 23px;
}

.first-section {
    display: flex;
    justify-content: space-between;
    padding-left: 17px;
    margin-bottom: 33px;
}

.menu {
    width: 243px;
    padding-top: 10px;
}

.banner {
    width: 674px;
}

.banner img {
    display: block;
    width: 100%;
}

.menu-list {
    list-style: none;
}

.menu-iten {
    margin-bottom: 5px;
}

.menu-link {
    line-height: 30px;
    border-radius: 3px;
    background-image: -moz-linear-gradient( 90deg, rgb(95,139,36) 0%, rgb(128,181,56) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(95,139,36) 0%, rgb(128,181,56) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(95,139,36) 0%, rgb(128,181,56) 100%);
    display: block;
    text-decoration: none;
    padding-left: 27px;
    font-size: 20px;
    color: #fff;
}

.menu-link-active, .menu-link:hover {
    background-image: -moz-linear-gradient( 90deg, rgb(173,0,0) 0%, rgb(215,0,0) 100%);
    background-image: -webkit-linear-gradient( 90deg, rgb(173,0,0) 0%, rgb(215,0,0) 100%);
    background-image: -ms-linear-gradient( 90deg, rgb(173,0,0) 0%, rgb(215,0,0) 100%);
}

.second-section {
    display: flex;
    justify-content: space-between;
    margin-bottom: 32px;
}

.steps {
    height: 300px;
    width: 254px;
    background-color: #eee;
}

.calc {
    width: 684px;
    background-color: #eee;
}

.description {
    padding-left: 19px;
    margin-bottom: 31px;
}

.description-title {
    color: #4e8602;
    font-size: 20px;
    line-height: 23px;
    margin-bottom: 13px;
}

.description p {
    color: #69676c;
    font-size: 12px;
    line-height: 14px;
}

.news {
    height: 150px;
    background-color: #80b538;
}

.footer {
    height: 112px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}



